@import "scss/bootstrap";

/* html elements*/
body {
	max-width: 100vw !important;
}

/*conatiner and boxes*/
.container1{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}

.flexbox-column {
	display: flex;
	flex-flow: column;
	justify-content: center !important;
	text-align: center;
}

.footer {
	background-color: #1F1F1F;
	color: #F5F5F5;
	border-top: 4px solid #3151C4;

	.list-group-item {
		background: none !important;
	}
}

.flex-box {
  display: flex;
  flex-flow: row wrap;
  .card{
	  margin:1.5rem;
	  position:relative;
	  
	  img{
		  width:13rem;
		  height:13rem;
	  }
  }
}

.input1 {
	margin: .5rem .25rem;
	padding:.5rem;
	width: 75%;
	border-radius: 4px;
	border: 1px solid #566D76;
}

.gradient-blue {
	width: 100%;
	height: 100%;
	color: white;
	background: linear-gradient(to right, rgba(49, 81, 196, 1) 5%, rgba(49, 81, 196, .5) 80%, rgba(49, 81, 196, 0) )
}

.gradient-grey {
	color: white;
	background: radial-gradient(circle, rgba(102, 102, 102, .9) 10%,rgba(102, 102, 102, 0) 50%)
}


/*utilities*/
.white-font{
  color:white;
}

.grey-font {
	color: #666666;
}

.bg-red {
	background-color: #c60102;
}
.border-red {
	border-color: #c60102;
}

.bg-blue {
	background-color: #3151C4;
}

.bg-white{
	background-color: white;
}

.bg-grey {
	background-color: #e9ecef;
}

.border-blue {
	border-color: #3151C4 !important;
}

.bg-image {
	background-size: cover;
	background-position: center right;
	background-repeat: no-repeat;
	min-height: 75vh;
	width: 100%;
}

.bg-image-2 {
	background-size: cover;
	background-repeat:no-repeat;
	min-height: 70vh;
	width: 100%;
}
.item1{
  margin:.75rem;
}


/* img/icons */
.textSvg{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.svg1 {
	width: 1.5rem;
	display: inline-block;
	margin: 0px .5rem
}

.logo {
	width: 15rem;
}










.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
	animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}
