@import "scss/bootstrap";

/* variables*/
$black: #1F1F1F;
$red: #cf1717;
$blue: #3151C4;
$grey: #6d6e71;
$light-grey: #e9ecef;
/* html elements*/
body {
	max-width: 100vw !important;
}

/*conatiner and boxes*/
.container1{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}

.flexbox-column {
	display: flex;
	flex-flow: column;
	justify-content: center !important;
	text-align: center;
}

.footer {
	background-color: $black;
	color: #F5F5F5;
	border-top: 4px solid #cf1717;

	.list-group-item {
		background: none !important;
	}
}

.flex-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	.card {
		margin: 1.5rem;
		position: relative;

		img {
			width: 13rem;
			height: 13rem;
		}
	}
}


/*components*/
#gallery {
	border: 2px solid black;
	padding: 1rem;

	img {
		width: 14rem;
		height: auto;
		margin: 1rem;

		@include media-breakpoint-down(sm) {
			margin: .4rem;
		}
	}

	
}
.gallery-img-lg {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.service-cards {
	.card {
		border: none;

		img {
			width: 18rem;
			height: 18rem;
		}
	}
}

.input1 {
	margin: .5rem .25rem;
	padding: .5rem;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #566D76;
}

.gradient-blue {
	width: 100%;
	height: 100%;
	color: white;
	background: linear-gradient(to right, rgba(49, 81, 196, 1) 5%, rgba(49, 81, 196, .5) 80%, rgba(49, 81, 196, 0) )
}

.gradient-grey {
	color: white;
	background: radial-gradient(circle,rgba(31, 31, 31, 1) 10%, rgba(31, 31, 31, 0) 50%)
}

.sticky-nav {
	position: -webkit-sticky;
	position: fixed;
	top: 0;
	z-index:10;
	width:100%;
	background-color:white;
}

.contact-us{
	background-color: $red;
	padding: .75rem 2.5rem 0rem;
	font-size:1.75rem;
}

.about-cards {
	p{
		text-align:justify;
	}
	img {
		width: 25rem;
		float: right;
		margin: .75rem
	}
}


/*utilities*/
.white-font {
	color: white !important;
}

.grey-font {
	color: #C2C2C2 !important;
}

.bg-red {
	background-color: $red !important;
}
.border-red {
	border-color: $red !important;
}

.bg-blue {
	background-color: $blue !important;
}

.bg-white {
	background-color: white !important;
}

.bg-grey {
	background-color: $grey !important;
}
.bg-light-grey{
	background-color: $light-grey !important;
}
.bg-black{
	background-color:$black !important;
}
.border-blue {
	border-color: $blue !important;
}

.bg-image {
	background-size: cover;
	background-position: center right;
	background-repeat: no-repeat;
	min-height: 70vh;
	width: 100%;
}

.bg-image-2 {
	background-size: cover;
	background-repeat:no-repeat;
	min-height: 75vh;
	width: 100%;
}
.item1{
  margin:.75rem;
}

#navbar2 {
	.nav-item {
		padding-top: 1.5rem;
	}
}
.nav-links {
	font-size: 1.2rem;
	margin: .5rem 1.75rem;
	text-decoration: none !important;

	&:hover {
		border-bottom: 2px solid #cf1717;
	}
}



/* img/icons */
.textSvg{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.svg1 {
	width: 1.5rem;
	display: inline-block;
	margin: 0px .5rem
}
.svg2{
	width:2.5rem;
	position:absolute;
	top:45%;
}

.logo {
	width: 11rem;
}



/*media query*/
@include media-breakpoint-down(sm){
	.phone, .contact-us{
		display:none;
	}
	.display-3, .display-4{
		font-size:3rem;
	}
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
	animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}
